body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#map {
    height: 500px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
}

.navbar {
    background: rgb(255, 255, 255);
    height: 85px;
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
}

.nav-menu-header {
    font-size: 18px;
    font-weight: bold;
}

.header-top {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.header-bottom {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;

}

.nav-identity {
    display: flex;
    gap: 20px;
    align-items: center;        
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-container {
    height: 470px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    height: 300px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px; display: flex;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}