.wrapper, #map, .form {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative
}

#map, .form {
  position: absolute;
  top: 0 5%;
  left: 0;
}

.form {
  z-index: 100000;
  padding: 15px 60px;
  pointer-events: none;
  width: fit-content;
  margin-top: 5px;
}

.form > * {
  pointer-events: auto;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#map {
    height: 100vh;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
}

.navbar {
    background: rgb(255, 255, 255);
    height: 85px;
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
}

.nav-menu-header {
    font-size: 18px;
    font-weight: bold;
}

.header-top {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.header-bottom {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;

}

.nav-identity {
    display: flex;
    gap: 20px;
    align-items: center;        
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-container {
    height: 470px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;

}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
  }

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #888;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    float: right;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
  }
  
  .modal-header {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
.modal-body {
  padding: 1px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-style: solid;
  border-color: #fff;
  border-radius: 3px 3px 3px 3px;
  width: fit-content;
}


.modal-body p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    /* margin-bottom: 20px; */
  }
  .modal-footer {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 0 0 10px 10px;
  }

#btnFilter {
    cursor: pointer;
  }
  
  #btnFilter:hover {
    text-decoration: underline;
  }

  .select-container {
    /* flex-basis: calc(50% - 10px); */
    flex-basis: auto;
}

.select-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.select-container select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}